* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}