$tablet-width: 768px;
$desktop-width: 1280px;

$primary-color: #CDB4DB;
$secondary-color: #a2d2ff;

$primary-gradient: linear-gradient(to right top, #ffcad4, #f6c8e4, #e2c9f3, #c5cdfe, #a2d2ff);
$secondary-gradient: linear-gradient(45deg, #FFCAD4, #A2D2FF);

@keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}