$tablet-width: 768px;
$desktop-width: 1280px;

$primary-color: #CDB4DB;

$primary-light: #f5f1ed;
$primary-gradient: linear-gradient(to right top, #ffcad4, #f6c8e4, #e2c9f3, #c5cdfe, #a2d2ff);

$secondary-color: #A2D2FF;
// $secondary-light: ;