@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.6rem;
    user-select: none;

    @include tablet {
        font-size: 0.8rem;
        gap: 0.6rem;
    }

    &__text {
        color: inherit;
    }

    &__logo {
        width: 0.8rem;
        height: 0.8rem;

        @include tablet {
            width: 1rem;
            height: 1rem;
        }

        &:hover {
            // filter: invert(65%) sepia(61%) saturate(6319%) hue-rotate(163deg) brightness(97%) contrast(101%);
            filter: invert(70%) sepia(56%) saturate(189%) hue-rotate(299deg) brightness(93%) contrast(96%);
        }

        &--dark {
            filter: invert(80%);
        }

        &--github {
            background: url("../../assets/github.svg") no-repeat;
            background-size: contain;
        }

        &--linkedin {
            background: url("../../assets/linkedin.svg") no-repeat;
            background-size: contain;
        }
    }
}