@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.modal {
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        width: 86vw;
        height: 60vh;
        outline: none;
        border: 3px solid #ffcad49a;
        box-shadow: 5px 4px;
        backdrop-filter: blur(6px);
        padding: 1rem;
        box-shadow: none;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include tablet {
            padding: 2rem;
            gap: 0.8rem;
        }

        @include desktop {
            width: 60vw;
            height: 70vh;
            gap: 1rem;
            padding: 3rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        @include tablet {
            gap: 1rem;
        }

        @include desktop {
            gap: 1.4rem;
        }
    }

    &__title {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__subtitle {
        font-size: 1.1rem;
        font-weight: 700;
        color: $primary-color;

        @include tablet {
            font-size: 1.2rem;
        }

        @include desktop {
            font-size: 1.5rem;
        }
    }

    &__name {
        font-size: 1.3rem;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 2rem;
        }
    }

    &__github {
        content: url("../../assets/github.svg");
        width: 1.2rem;
        height: 1.2rem;
        filter: invert(70%) sepia(56%) saturate(189%) hue-rotate(299deg) brightness(93%) contrast(96%);

        &:hover {
            filter: invert(68%) sepia(13%) saturate(1460%) hue-rotate(196deg) brightness(90%) contrast(91%);
        }

        @include tablet {
            width: 1.7rem;
            height: 1.7rem;
        }

        @include desktop {
            width: 2rem;
            height: 2rem;
        }
    }

    &__description {
        font-size: 0.8rem;

        @include tablet {
            font-size: 1rem;
        }

        @include desktop {
            font-size: 1.2rem;
        }
    }

    &__tech {
        font-size: 0.7rem;

        @include tablet {
            font-size: 1rem;
        }

        @include desktop {
            font-size: 1.1rem;
        }
    }

    &__imgs {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1.5rem;

        @include tablet {
            gap: 2.8rem;
            margin-bottom: 2rem;
        }

        @include desktop {
            gap: 3.3rem;
            margin-top: 1.3rem;
            margin-bottom: 1rem;
        }
    }

    &__img {
        max-width: 80%;
        height: auto;
        box-shadow: 0 0 15px #ccc;
    }
}