@use "../../styles/partials/_reset.scss" as *;
@use "../../styles/partials/_typography.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: none;
    position: absolute;
    z-index: 9;
    width: 100%;
    user-select: none;

    &__logo {
        font-weight: 800;
        background: $primary-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.55rem;

        @include tablet {
            font-size: 3rem;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 0.7rem;


        @include tablet {
            gap: 1rem;
        }
    }

    &__item {
        font-size: 0.7rem;
        color: inherit;

        @include tablet {
            font-size: 1rem;
        }

        &--active {
            color: blue;
        }
    }
}



.MuiSwitch-thumb {
    // color: #213975;
    background: url("../../assets/sun.svg") no-repeat;
    background-size: 70%;
    background-position: center;
}