@use "../../styles/partials/_reset.scss" as *;
@use "../../styles/partials/_typography.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background: none;
    position: absolute;
    z-index: 5;
    width: 80vw;
    user-select: none;

    @include tablet {
        width: 83vw;
    }

    @include desktop {
        width: 85vw;
    }

    &-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__logo {
        font-weight: 800;
        background: $primary-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.4rem;

        @include tablet {
            font-size: 3rem;
        }
    }

    &__list {
        display: flex;
        align-items: baseline;
        gap: 0.7rem;


        @include tablet {
            gap: 1rem;
        }

        &-wrap {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    &__item {
        font-size: 0.6rem;
        color: inherit;

        @include tablet {
            font-size: 1rem;
        }

        @include desktop {
            font-size: 1.3rem;
        }

        &:hover {
            text-shadow: 1px 1px #e1a9b3;
        }

        &--active {
            @extend .nav__item;
            color: $primary-color;
            font-weight: 800;
            font-size: 0.7rem;

            @include tablet {
                font-size: 1.1rem;
            }

            &:hover {
                text-shadow: none;
            }

            @include desktop {
                font-size: 1.4rem;
            }
        }
    }

    &__control {
        width: 2rem;

        @include tablet {
            width: 2.5rem;
        }
    }
}